.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust spacing between input groups */
}

.input-group input {
  margin-bottom: 5px; /* Adjust spacing between input and error */
  padding: 8px;
}
  .form-container button {
    margin-bottom: 10px;
    padding: 8px;
  }

  .error {
    color: #0ccac4;
    font-size: 12px;
    
  }

  .error-summary {
    color: red;
    margin-top: 10px;
  }

  .red-label {
    color: red;
    /* Additional styles if needed */
  }


  /* create.styles.css */
.go-back-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.go-back-button {
  padding: 10px 20px;
  background-color: #0ccac4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #0a8f8a;
}
